.hero
  position: relative
  width: 100%
  max-width: 1440px
  margin-top: 195px
  margin-bottom: 245px
  padding: 0 130px
  &__item
    max-width: 1000px
  &__title
    margin: 0
    padding: 0
    margin-bottom: 8px
    line-height: 82px
  &__content
    margin: 0
    margin-bottom: 33px
    padding-left: 4px
    font-size: 26px
    line-height: 40px
    font-family: "poppins-medium", Arial, Helvetica, sans-serif
    color: #ffffff
    letter-spacing: 0.77px
    opacity: 0.82
  &__image
    position: absolute
    top: -110px
    right: -145px

  
