.navigation
  &__site
    display: flex
    justify-content: space-around
    padding: 0
    padding-left: 70px

    list-style: none
    font-size: 18px
    font-family: "poppins-medium", Arial, Helvetica, sans-serif
  &__item
    margin-right: 32px
    display: block
    vertical-align: middle
    color: $color-light
    >a
      &:hover
        border-bottom: 2px solid $color-light
    &:last-child
      margin-right: 0
  &__user
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0
    margin: 0
    margin-left: auto
  &-user
    &__link
      list-style: none
      font-size: 18px
      font-family: "poppins-medium", Arial, Helvetica, sans-serif
      margin-right: 36px
      &:last-child
        margin-right: 0
      &--button
        background-color: $color-accent