.social
  &__list
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    padding: 0
    margin: 0
    margin-left: auto
    list-style: none
  &__item
    margin-right: 45px
    font-size: 20px
    &:last-child
      margin-right: 0