@mixin controls($color)
  &:hover,
  &:focus,
  &:active
    background-color: lighten($color, 20%)
  &:disabled,
  &:disabled
    background-color: $color
    cursor: default
    opacity: 0.5
  
.button
  display: inline-block
  width: 100%
  max-width: 205px
  margin-right: 28px
  padding: 20px 0px
  font-size: 18px
  font-family: "poppins-medium", Arial, Helvetica, sans-serif
  text-align: center
  color: $color-black
  background-color: $color-light
  border-radius: 5px
  box-shadow: 0 10px 30px rgba(116, 115, 115, 0.23)

  @include controls ($color-accent)
  &:last-child
    margin-right: 0
  &_accent 
    color: $color-black
    background-color: $color-accent

    @include controls ($color-light)
  &_sigh-up
    width: 130px
    color: $color-black
    background-color: $color-accent

    @include controls ($color-light)
  &_big
    font-size: 23px
    max-width: 253px
    padding: 25px 0
  &_link  
    margin: 0
    padding: 0
    color: $color-light
    background: none
    border-radius: 0
    box-shadow: none
    &:hover,
    &:focus,
    &:active,
    &:disabled,
    &:disabled
      background: none
.slider
  &__controls
    position: absolute
    top: 43%
    z-index: 1   
    width: 100%
    padding: 0 70px
    transform: translateY(25%)
    &_explore-list
      top: calc(50% - 87px)
      transform: translateY(50%)
      padding: 0
  &__control
    width: 14px
    height: 17px
    padding: 24px
    background: url(../img/control.png) center no-repeat, #ffffff
    background-position-x: calc(50% - 2px)
    border-radius: 50%
    cursor: pointer
    &_left
      float: left
      &_explore-list 
        margin-left: -24px
    &_right
      float: right  
      transform: rotate(180deg)      
      &_explore-list
        margin-right: -24px