h2
  text-shadow: 0 0 10px rgba(94, 94, 94, 0.15)
  font-family: "poppins-semibold"
  font-size: 36px
  letter-spacing: 0.32px
p
  color: #969696
  font-family: "poppins-medium"
  font-size: 18px
  font-weight: 500
  letter-spacing: 0.53px
  line-height: 33px